In [5]:
Task 1

SyntaxError: invalid syntax (2379010927.py, line 1)

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Load dataset (Replace 'your_dataset.csv' with the actual filename)
df = pd.read_csv('listing_data_publish.csv')

# Display first few rows of the dataset
print("\nðŸ”¹ First 5 Rows of Dataset:")
print(df.head())

# Check dataset shape (rows, columns)
print(f"\nðŸ”¹ Dataset Shape: {df.shape[0]} rows, {df.shape[1]} columns")

# Check column names and data types
print("\nðŸ”¹ Dataset Info:")
print(df.info())

# Check for missing values in each column
print("\nðŸ”¹ Missing Values in Each Column:")
print(df.isnull().sum())

# Summary statistics for numerical features
print("\nðŸ”¹ Summary Statistics (Numerical Features):")
print(df.describe())

# Summary statistics for categorical features
print("\nðŸ”¹ Summary Statistics (Categorical Features):")
print(df.describe(include=['object']))

# Identify categorical columns
categorical_columns = df.select_dtypes(include=['object']).columns.tolist()
print(f"\nðŸ”¹ Categorical Columns: {categorical_columns}")

# Identify numerical columns
numerical_columns = df.select_dtypes(include=['int64', 'float64']).columns.tolist()
print(f"\nðŸ”¹ Numerical Columns: {numerical_columns}")

# Analyze the distribution of listings across different categories (if 'Category' exists)
if 'Category' in df.columns:
    plt.figure(figsize=(10, 5))
    sns.countplot(y=df['Category'], order=df['Category'].value_counts().index, palette="viridis")
    plt.title('Distribution of Listings Across Categories')
    plt.xlabel('Count')
    plt.ylabel('Category')
    plt.show()

# Analyze the distribution across different regions (if 'Region' exists)
if 'Region' in df.columns:
    plt.figure(figsize=(10, 5))
    sns.countplot(y=df['Region'], order=df['Region'].value_counts().index, palette="coolwarm")
    plt.title('Distribution of Listings Across Regions')
    plt.xlabel('Count')
    plt.ylabel('Region')
    plt.show()

# Display unique values in categorical features
print("\nðŸ”¹ Unique Values in Categorical Columns:")
for col in categorical_columns:
    print(f"{col}: {df[col].nunique()} unique values")

ðŸ”¹ First 5 Rows of Dataset:
   listing_id   type sub_type start_date end_date listing_type building_age  \
0           1  Konut    Daire     1/3/19   1/3/19      satÄ±lÄ±k            3
1           2  Konut    Daire     1/2/19   1/2/19      satÄ±lÄ±k            0
2           3  Konut    Daire     1/2/19   1/2/19      satÄ±lÄ±k            0
3           4  Konut    Daire     1/2/19   1/2/19      satÄ±lÄ±k            0
4           5  Konut    Daire     1/2/19   1/2/19      satÄ±lÄ±k            0

  total_floor_count floor_no room_count   size  student_avaliable  \
0                 4    Kot 3        3+1  130.0                NaN
1                 5        1        4+1  175.0                NaN
2                 3        1        3+1  125.0                NaN
3                10        7        2+1   72.0                NaN
4                 4        3        1+1   75.0                NaN

   mortgage_avaliable                           address furnished  \
0                 NaN              Kocaeli/KÃ¶rfez/Fatih   EÅŸyasÄ±z
1                 NaN           Ankara/Yenimahalle/BurÃ§   EÅŸyasÄ±z
2                 NaN             Antalya/Kepez/KÃ¼tÃ¼kÃ§Ã¼   EÅŸyasÄ±z
3                 NaN  Ä°stanbul/Esenler/KazÄ±m Karabekir   EÅŸyasÄ±z
4                 NaN       Ä°stanbul/BeylikdÃ¼zÃ¼/Yakuplu   EÅŸyasÄ±z

           heating_type     price currency
0  Kalorifer (DoÄŸalgaz)       NaN      NaN
1      Kombi (DoÄŸalgaz)  209500.0      TRY
2                 Klima  210000.0      TRY
3                 Klima  285000.0      TRY
4      Kombi (DoÄŸalgaz)  139000.0      TRY

ðŸ”¹ Dataset Shape: 225737 rows, 18 columns

ðŸ”¹ Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225737 entries, 0 to 225736
Data columns (total 18 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   listing_id          225737 non-null  int64
 1   type                225737 non-null  object
 2   sub_type            225737 non-null  object
 3   start_date          225737 non-null  object
 4   end_date            225737 non-null  object
 5   listing_type        225737 non-null  object
 6   building_age        225737 non-null  object
 7   total_floor_count   225737 non-null  object
 8   floor_no            225737 non-null  object
 9   room_count          225737 non-null  object
 10  size                225573 non-null  float64
 11  student_avaliable   0 non-null       float64
 12  mortgage_avaliable  0 non-null       float64
 13  address             225588 non-null  object
 14  furnished           225737 non-null  object
 15  heating_type        225737 non-null  object
 16  price               225716 non-null  float64
 17  currency            225716 non-null  object
dtypes: float64(4), int64(1), object(13)
memory usage: 31.0+ MB
None

ðŸ”¹ Missing Values in Each Column:
listing_id                 0
type                       0
sub_type                   0
start_date                 0
end_date                   0
listing_type               0
building_age               0
total_floor_count          0
floor_no                   0
room_count                 0
size                     164
student_avaliable     225737
mortgage_avaliable    225737
address                  149
furnished                  0
heating_type               0
price                     21
currency                  21
dtype: int64

ðŸ”¹ Summary Statistics (Numerical Features):
          listing_id          size  student_avaliable  mortgage_avaliable  \
count  225737.000000  2.255730e+05                0.0                 0.0
mean   112869.000000  4.595378e+02                NaN                 NaN
std     65164.803195  3.373388e+04                NaN                 NaN
min         1.000000  1.000000e+00                NaN                 NaN
25%     56435.000000  9.000000e+01                NaN                 NaN
50%    112869.000000  1.200000e+02                NaN                 NaN
75%    169303.000000  1.500000e+02                NaN                 NaN
max    225737.000000  9.262737e+06                NaN                 NaN

              price
count  2.257160e+05
mean   3.087949e+05
std    8.354250e+05
min    0.000000e+00
25%    1.690000e+05
50%    2.350000e+05
75%    3.390000e+05
max    3.000000e+08

ðŸ”¹ Summary Statistics (Categorical Features):
          type sub_type start_date  end_date listing_type building_age  \
count   225737   225737     225737    225737       225737       225737
unique       1        1        361       361            1           14
top      Konut    Daire    3/22/18  12/26/18      satÄ±lÄ±k            0
freq    225737   225737       1264      2281       225737       105783

       total_floor_count floor_no room_count                  address  \
count             225737   225737     225737                   225588
unique                12       35         28                     5535
top                    4        2        3+1  BalÄ±kesir/Edremit/AkÃ§ay
freq               54402    44200      92029                     4723

       furnished      heating_type currency
count     225737            225737   225716
unique         4                16        4
top      EÅŸyasÄ±z  Kombi (DoÄŸalgaz)      TRY
freq      197100            142415   223833

ðŸ”¹ Categorical Columns: ['type', 'sub_type', 'start_date', 'end_date', 'listing_type', 'building_age', 'total_floor_count', 'floor_no', 'room_count', 'address', 'furnished', 'heating_type', 'currency']

ðŸ”¹ Numerical Columns: ['listing_id', 'size', 'student_avaliable', 'mortgage_avaliable', 'price']

ðŸ”¹ Unique Values in Categorical Columns:
type: 1 unique values
sub_type: 1 unique values
start_date: 361 unique values
end_date: 361 unique values
listing_type: 1 unique values
building_age: 14 unique values
total_floor_count: 12 unique values
floor_no: 35 unique values
room_count: 28 unique values
address: 5535 unique values
furnished: 4 unique values
heating_type: 16 unique values
currency: 4 unique values